/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
}

.gallery {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  margin: 24px auto;
  gap: 24px;
  justify-content: center;
}

.gallery-item {
  list-style: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover {
  border: 2px solid blue;
  transform: scale(1.04);
}

.modal-img {
  max-width: 1112px;
  max-height: 640px;
}
